:root {
    --brand-orange: #cb4f0c;
    --brand-purple: #781c5c;
    --brand-charcoal: #36454f;
    --brand-black: #333333;
    --brand-grey: #767676;

    --x-small: 0.5em;
    --small: 1em;
    --medium: 2em;
    --large: 3em;
    --x-large: 4em;

    --primary-font: "Work Sans", sans-serif;
    --secondary-font: "Playfair Display", serif;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 320px;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    color: var(--brand-orange);
    text-decoration: none;
}

a:hover {
    color: var(--brand-purple);
    text-decoration: none;
}

a:active,
a:focus {
    color: var(--brand-purple);
    outline-offset: 3px;
}

.highlight {
    font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--brand-orange);
}

.primary-button {
    display: inline-block;
    border: 3px solid var(--brand-orange);
    padding: var(--x-small);
    font-weight: 400;
}

.primary-button:hover {
    color: white;
    background-color: var(--brand-purple);
    border-color: var(--brand-purple);
}

.primary-button:focus {
    outline: 1px dashed var(--brand-purple);
    outline-offset: 3px;
    color: var(--brand-purple);
    border-color: var(--brand-purple);
}

header {
    width: 50vw;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--brand-black);
}

.section-title__icon {
    margin-right: 0.5em;
}

.header__logo {
    height: 80px;
    width: auto;
    margin-bottom: 54px;
}

.header__social-icons {
    width: 50%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
}

.header__social-icons__icon {
    list-style: none;
    font-size: 3.2rem;
}

.header__social-icons__icon a {
    color: var(--brand-grey);
}

.header__social-icons__icon a:hover,
.header__social-icons__icon a:active {
    color: var(--brand-orange);
}

.header__social-icons__icon a:focus {
    color: var(--brand-purple);
}

main {
    display: grid;
    grid-template-columns: minmax(320px, 50%);
    justify-content: center;
}

section {
    padding: 2em 0;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--brand-grey);
}

section:last-of-type {
    border-bottom: none;
}

/* === ||  Development === */
.development__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 2fr));
    grid-template-rows: auto;
    column-gap: 2em;
}

.development__container__developed,
.employment__container__edited {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* === || Employment Cards  === */
.employment__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 2fr));
    grid-template-rows: auto;
    column-gap: 2em;
    row-gap: 2em;
    padding: 2em 0;
}

.employment__card {
    display: flex;
    flex-direction: column;
    color: var(--brand-black);
    background-color: white;
    border: 2px solid var(--brand-orange);
    padding: 1em;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.employment__card h3 {
    margin-top: 0;
    color: var(--brand-orange);
}

.employment__card p {
    margin-top: 0;
}

.employment__card span {
    margin-top: auto;
    margin-left: auto;
    color: var(--brand-charcoal);
    font-family: "museo-sans", sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
}

/* === || Skill Set Icons  === */
.skills__container {
    width: 90%;
    padding-top: 2em;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .skills__container {
        width: 80%;
    }
}

.skills__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.skills__icons__icon {
    list-style: none;
    margin-bottom: 1em;
}

.skills__icons__icon + .skills__icons__icon {
    margin-left: 1em;
}

.skills__icons__icon img {
    max-width: 100px;
    height: 50px;
}

/* === || Active Learning === */
.learning p + a.primary-button {
    margin-bottom: var(--medium);
}

/* === || Carousel  === */
.design__container,
.hobbies__container {
    padding: 3em 0;
}

.design__carousel__item,
.hobbies__carousel__item {
    width: 100%;
    height: 400px;
}

.design__carousel__item img,
.hobbies__carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.flickity-button:hover {
    box-shadow: 0 0 0 5px var(--brand-orange);
}

.flickity-button:focus {
    box-shadow: 0 0 0 5px var(--brand-purple);
}

/* === || Footer === */
footer {
    width: 50vw;
    min-width: 320px;
    display: flex;
    place-content: center;
    align-items: center;
    padding: 2em 0;
    border-top: 2px solid var(--brand-orange);
    margin: 0 auto;
}

.footer__social-icons {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.footer__social-icons li + li {
    margin-left: 0.5em;
}

.footer__social-icons__icon {
    list-style: none;
    font-size: 2rem;
}

.footer__social-icons__icon a {
    color: var(--brand-grey);
}

.footer__social-icons__icon a:hover,
.footer__social-icons__icon a:active {
    color: var(--brand-orange);
}

.footer__social-icons__icon a:focus {
    color: var(--brand-purple);
}

/* === || Print === */
@page {
    margin: 1cm;
}

@media only print {
    header {
        width: 90vw;
    }

    main {
        grid-template-columns: minmax(320px, 90%);
    }

    section {
        padding: 0;
        margin: 0;
    }

    .header__social-icons {
        width: unset;
    }

    .svg-inline--fa {
        vertical-align: middle;
    }

    .section-title__icon {
        margin-right: 0;
        display: none;
    }

    .employment__container {
        display: block;
        padding: 0;
    }

    .employment__card:nth-child(3),
    .employment__card:nth-child(4) {
        display: none;
    }

    .employment__card {
        all: initial;
        display: inline-block;
    }

    .employment__card:first-of-type {
        margin-bottom: 1em;
    }

    .skills__container {
        display: none;
    }

    .learning,
    .design,
    .hobbies {
        display: none;
    }

    a:after {
        content: "(" attr(href) ")";
        font-size: 14px;
        margin-left: 0.5em;
    }

    .development__container__developed a:after,
    .development__container__edited a:after {
        content: "(" attr(href) ")";
        display: block;
        margin: 0;
    }
}

@media screen {
    .design__container--print,
    .hobbies__container--print {
        display: none;
    }
}
