body {
  min-width: 320px;
  font-family: "Merriweather", serif;
}

hr { margin: 54px 0; }

header {
  padding-top: 34px;
  padding-bottom: 51px;
  border-bottom: 2px solid #f17036;
  margin-bottom: 54px;
}
@media only screen and (min-width: 768px) {
  padding-top: 0;
}
header p { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans", sans-serif;
  font-weight: 400;
  color: #f17036;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
}

.dmcwhinnie-logo {
  width: 407px;
  height: auto;
  margin: 0 auto;
}

.header-social-icons {
  float: none;
  text-align: center;
  list-style: none;
  margin-bottom: 18px;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .header-social-icons {
    float: right;
    margin-bottom: 0;
  }
}

.header-social-icons li {
  display: inline;
  font-size: 21px;
  margin-left: 12px;
  margin-bottom: 8px;
}
.header-social-icons li a {
  color: #ccc;
}
.header-social-icons li a:hover,
.header-social-icons li a:focus { color: #f17036; }

.header-social-icons li:first-of-type { margin-left: 0; }

.contact-links {
  list-style: none;
  margin: 16px 0;
  padding: 0;
  text-align: center;
}
.contact-links li {
  display: inline-block;
  margin-bottom: 12px;
}
.contact-links li:last-of-type { margin-bottom: 0; }

@media only screen and (min-width: 768px) {
  .contact-links li { margin-bottom: 0; }
  .contact-links li + li:before {
    content: "/";
    margin: 0 16px;
  }
}

.header-link {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: #333;
  text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width:
  991px) {
    .header-link { font-size: 16px; }
}

.header-social-icons a:hover,
.header-link:hover { transition: color .4s; }

#cv-intro p {
  font-size: 18px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  #cv-intro p {
    font-size: 21px;
    text-align: justify;
  }
}
#cv-intro h2 { margin-bottom: 42px; }

#cv-experience h2 { margin-bottom: 42px; }
#cv-experience span.job-company {
  font-family: "museo-sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #f17036;
}
#cv-experience span.job-date {
  font-family: "museo-sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ccc;
}
@media only screen and (min-width: 768px) {
#cv-experience p { text-align: justify; }
}

#design-xp { margin-bottom: 54px; }

.skill-icons {
  margin-top: 54px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.skill-icons li {
  display: inline-block;
  margin-bottom: 18px;
  margin-left: 21px;
}
.skill-icons li a { display: inline-block; }
@media only screen and (min-width: 768px) {
  .skill-icons li { margin-bottom: 0; }
}
.skill-icons li:first-of-type { margin-left: 0; }
.skill-icons li img {
  height: 38px;
  width: auto;
}

.carousel { height: 450px; }

.carousel-inner {
  height: 450px;
  border: 3px solid #ccc;
}
.carousel-inner > .item {
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-control.left { background-image: none; }
.carousel-control.right { background-image: none; }


/* === FOOTER STYLES === */
footer {
  padding-top: 54px;
  padding-bottom: 54px;
  border-top: 2px solid #f17036;
}
footer span.fa { font-size: 18px; }
footer i.fa { font-size: 18px; }
footer a {
  color: #333;
  transition: color .4s;
}

footer a:hover,
footer a:focus {
  color: #f17036;
  text-decoration: none;
}

.footer-social-icons {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-icons li {
  display: inline;
  font-size: 21px;
  margin-left: 12px;
  margin-bottom: 8px;
  line-height: 0;
}
.footer-social-icons li a {
  color: #333;
}
.footer-social-icons li a:hover,
.footer-social-icons li a:focus { color: #f17036; }
